<div class="card text-bg-light my-2">
  <div class="card-body text-center">
    <h1 class="card-title mb-4">さくらマーケット管理画面へようこそ</h1>
    <%= link_to "ログインしてください!", new_admin_session_path, class: "btn btn-lg btn-primary" %>
  </div>
</div>
