@import "bootstrap";

body {
  padding-top: 60px;
  padding-right: 20px;
  padding-left: 20px;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  text-decoration: none;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

.form-signup {
  display: grid;
  padding: 1rem;

  .field {
    display: grid;
    width: 100%;
    max-width: 600px;
    justify-self: center;
    margin-bottom: 2rem;
  }

  .actions {
    display: grid;
    width: 100%;
    max-width: 600px;
    justify-self: center;
  }
}

.form-signin {
  @extend .form-signup;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}
