<h1>New product</h1>
<%= render partial: 'form', locals: {url: admins_products_url, product: @product, button_label: '追加する'} %>
<br>
<div>
  <%= link_to 'Back to products', admins_products_path %>
</div>
