<nav class='navbar fixed-top bg-dark border-bottom border-bottom-dark' data-bs-theme='dark'>
  <div class='container-fluid'>
    <a class='navbar-brand' href='/'>さくらマーケット</a>
    <% if user_signed_in? %>
      <div class='d-flex flex-row'>
        <div class='mx-1'><%= link_to '設定', edit_user_registration_path %></div>
        <div class='mx-1'><%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete } %></div>
      </div>
    <% else %>
      <div class='mx-1'><%= link_to 'ログイン', user_session_path %></div>
    <% end %>
  </div>
</nav>
